.transition-all() {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.heading-font {
	font-family: 'OpenSans', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
}

.body-font {
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
	text-transform: uppercase;
	letter-spacing: 2px;
}

@theme-primary:    #84c44e;
@theme-secondary:  #81c04c;
@theme-tertiary:   #7ebc4b;

@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%);
@blue-dark:  	   #284453;
@green-light: 	   #76bb3c;
@white: 	       #fff;